<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebTech21</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="navbar">
    <a class="current" href="index.html">Home</a>
    <a href="question.html">Question</a>
    <a href="new.html">New</a>
    <a href="about.html">About</a>

    <a href="<% if(loggedIn){ %>
        logout.html
        <% } else{ %>
        login.html
        <% } %>" class="setUp">
        <% if(loggedIn){ %>
            LogOut
        <% } else{ %>
            LogIn
        <% } %>
    </a>
    <a href="register.html" class="setUp">Register</a>
    <div class="search-container">
        <form action="/search">
            <input type="text" placeholder="Search.." name="search">
        </form>
    </div>
</div>
<header>Welcome to our best query and answer system in the World</header>


<div>
    <% for(var i = 0; i < text.length; i++){ %>
    <p></p>
    <p></p>
    <div>
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <h6><a href="#"><%= text[i].Title %></a></h6>
                        <div>
                            <%- text[i].Body %>
                        </div>
                        <div class="voting-container">
                            <!--ToDo connect it with counter and add to js-->
                            <button class="dislike">
                                <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                            </button>

                            <button class="like">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>


<footer><a href="about.html">Who are we?</a></footer>
</body>
</html>