<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebTech21</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<div class="navbar">
    <a class="current" href="index.html">Home</a>
    <a href="question.html">Question</a>
    <a href="new.html">New</a>
    <a href="about.html">About</a>
    <a href="<%if(loggedIn){%>
        logout.html
        <%} else{%>
        login.html
        <%}%>" class="setUp"><%if(loggedIn){%>
        LogOut
        <%} else{%>
        LogIn
        <%}%></a>
    <a href="../html/register.html" class="setUp">Register</a>
</div>
<header>Welcome to our best query and answer system in the World</header>

</body>
</html>